#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
# Increase innodb buffer
innodb_buffer_pool_size=1G
innodb_log_file_size=100M


# MariaDB uses by default the Aria storage engine for internal temporary files. If you have a lot of temporary files, you should set this  to a reasonable large value. Default Value: 134217720 (128MB) 
aria_pagecache_buffer_size=134217720


# Decrease MyISAM buffer ( Don't use MyISAM engine) - 131072 (128KB)
key_buffer_size=131072

# Common
character-set-server=utf8
collation-server=utf8_general_ci
max-connect-errors=100000
max-connections=500
# Stack size for each thread. If set too small, limits recursion depth of stored procedures and complexity of SQL statements the server can handle in memory.
thread_stack = 327680
# Number of open tables for all threads.Increasing table_open_cache increases the number of file descriptors required.Default Value: 2000.
table_open_cache=2000
# Set query cache  on and set it  to 100M 
query_cache_type = 1
query_cache_size = 100M

# Binary log/replication
log-bin
sync_binlog=1
sync_relay_log=1
expire_logs_days=10
binlog_format=ROW
transaction-isolation=READ-COMMITTED
innodb_autoinc_lock_mode = 2
#server-id=1

# Logging
#log =/var/log/mysql/mysql.log
log-slow-queries = /var/log/mysql/slow-queries
log-error=/var/log/mysql/mysql-error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


# this is only for embedded server
[embedded]

# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]

# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-5.5]

